/* App.css */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page-container {
  position: relative;
  min-height: 100vh;
  background: url('/src/booksbg.png') no-repeat center center fixed;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to make it more or less transparent */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  color: #fff; /* Adjust the text color for better readability */
  padding: 20px;
}

